{% extends 'base.html' %}
{% block content %}

<div class="page-container">
  <div class="card-box">
    <h3 class="title">Scaled Fault Classification</h3>
    <p class="subtitle">Inputs normalized using StandardScaler</p>

    <form method="post">
      {% csrf_token %}

      <input class="form-control mb-3" type="number" step="any" name="Voltage" placeholder="Voltage (V)" required>
      <input class="form-control mb-3" type="number" step="any" name="Current" placeholder="Current (A)" required>
      <input class="form-control mb-3" type="number" step="any" name="Temperature" placeholder="Temperature (°C)" required>
      <input class="form-control mb-3" type="number" step="any" name="Vibration" placeholder="Vibration (mm/s)" required>
      <input class="form-control mb-3" type="number" step="any" name="Speed" placeholder="Speed (km/h)" required>

      <button class="btn btn-main">Classify Fault</button>
    </form>

    {% if result %}
      <div class="result-box">
        Fault Type: {{ result }}
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
